body {
  font-family: Helvetica;
}
.app {
  margin: 20px;
  display: flex;
  height: 100vh;
  .logo-colum {
    width: 10%;
  }
  .channels-column {
    width: 20%;
  }
  .messages-column {
    width: 70%;
  }
}
